@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&family=Sora:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #020b24;

  background-image:
    linear-gradient(
      rgba(59, 130, 246, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(59, 130, 246, 0.06) 1px,
      transparent 1px
    );

  background-size: 80px 80px;
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
}

/* Global Glow */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background:
    radial-gradient(
      circle at 50% 15%,
      rgba(139, 92, 246, 0.12),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 50%,
      rgba(59, 130, 246, 0.08),
      transparent 35%
    );
}

.nav-font {
  font-family: "Orbitron", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* Logo Font */
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.courier-prime {
  font-family: "Courier Prime", monospace;
}

.PT Sans Caption{
  font-family: "PT Sans Caption", sans-serif;
}

p {
  font-family: "PT Sans Caption", sans-serif;
}



/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
}